body{
    background-color: pink;
}
header{
    background-image: url(media/sprinkle.jpg);
    padding: 1px;  
    text-align: center;
    font-size: 60px;
    font: bold;
}
article{
    background-color: skyblue;
    padding: 10px;
    border-radius: 50px;
}
section{
    background-color: skyblue;
    padding: 10px;
    width: 400px;
    height: 550px;
    border-radius: 50px;
    position: relative;
    top: 10px;
}
#section2{
    position: absolute;
    background-color: skyblue;
    width: 600px;
    right: 0px;
    top: 590px;
}
video{
    position: absolute;
    left:450px;
    top: 600px;
    height: 500px;
    width: 400px;
}
#three{
    position: relative;
    top: -90px;
    left: -20px;
}
footer{
    background-color: skyblue;
    border-radius: 10px;
}
img{
    border: pink solid 10px;
    position: absolute;
    right: 20px;
    bottom:-300px;  
    border-radius: 50px;
}